<!DOCTYPE HTML PUBLIC "-//W3//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>AutoPagerize Test (HTML4.01)</title>
  </head>
  <body>
    {%- include 'content.tmpl' -%}
  </body>
</html>
